.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin: 10px;
}

.react-datepicker__triangle {
  transform: translate(125px, 0px) !important;
}

.keyboardInput {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.keyboardContainer {
  margin: 0 auto;
  max-width: 850px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

button {
  display: block;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.example-custom-input {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  width: 240px;
  padding: 10px;
  margin-bottom: 5px;
}

.normal-day {
  background: white !important;
  color: black !important;
  width: 28px;
  height: 28px;
  line-height: 1.8;
  text-align: center;
  padding: 2px !important;
}

.selected-day {
  background: navy !important;
  color: white !important;
  border-radius: 50% !important;
  font-weight: 700;
}

.dragBox {
  width: 1000px;
  height: 300px;
  background-color: red;
}
